body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #007BFF 0%, #30cfd0  100%);
    min-width: 320px; /* Establece el ancho mínimo */

}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor horizontalmente en la pantalla */
}


header {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(4, 8, 255, 0.9); /* Agrega una sombra suave */
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

header:hover {
    background-image: linear-gradient(to top, #0e5757 0%, #592a92 100%);
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    color: #007BFF;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #007BFF;

}

.img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: #007BFF solid 2px;
}

.img:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #007BFF solid 2px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

#experiencia,
#educacion,
#habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#habilidades ul {
    list-style-type: none;
    padding: 0;
}

#habilidades li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#habilidades li i {
    font-size: 1.5rem;
    margin-right: 10px;
}

#habilidades li::before {
    content: "\2022"; 
    color: #007BFF; 
    font-size: 1.2rem;
    margin-right: 5px;
}

#habilidades li:hover {
    color: #007BFF; /* Cambia el color del texto al pasar el ratón por encima */
}

#habilidades li:hover i {
    color: #007BFF; /* Cambia el color del icono al pasar el ratón por encima */
}



.divEducacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover {
    color: #e40909; /* Cambia el color al pasar el ratón por encima */
    text-decoration: underline; /* Subraya el enlace */
}





@media (min-width: 768px) {
    body {
        margin: 20px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    section {
        margin: 0;
    }

    #experiencia,
    #educacion,
    #habilidades {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
    }
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    section {
        margin: 0;
    }
    
    #educacion .divEducacion h3 {
        text-align: center;
    }

    .img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
        
    }

    h2 {
        font-size: 1.2rem;
    }

    h3{
        text-wrap: balance;
    }

    .img {
        width: 60px;
        height: 60px;
    }

    section {
        padding: 10px;
    }
    #educacion .divEducacion h3 {
        text-align: center;
    }
}